<?xml version="1.0" encoding="UTF-8"?>
<root>
  <errors>true</errors>
  <loss>0.7</loss>
  <delay>0.7</delay>
  <ghost>0.7</ghost>
  <payload>0.7</payload>
  <header>0.7</header>
  <onlydata>false</onlydata>
  <serverAddress>localhost</serverAddress>
  <serverport>5555</serverport>
  <simpleConnection>false</simpleConnection>
</root>